/*
Theme Name:     Bronx Bureau
Theme URI:      http://largoproject.org
Description:    A child theme for Bronx Bureau based on the Project Largo parent theme.
Author:         Adam Schweigert/INN
Author URI:     http://largoproject.org
Template:       largo
Version:        0.1.0
*/

a {
  color: #093;
}
.navbar-inner,
.widget.rev {
  background-color: #093;
}
.navbar .divider-vertical {
  background-color: #070;
  border-left: 1px solid #093;
}
.navbar .active>a,
.navbar .active>a:hover,
.navbar .open>a,
.navbar li>a:hover {
  color: #fff;
  background-color: #070;
}
.navbar .btn-navbar {
  background-color: #070;
}
.navbar .btn-navbar:hover {
  background-color: #060;
}
.entry-content p {
	font-size:14px;
	font-family:Georgia,"Times New Roman",Times,serif;
	margin-bottom:12px
}
.rss-subscribe-link {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  text-transform: none;
  color: #343434;
}
.widgettitle,
.stories h3.widgettitle,
#related-post-nav a.selected,
.tags ul li {
  background-color: #093;
}
.textwidget div {
  margin: 0 auto;
}
.textwidget .advertise {
  display: block;
  padding-top: 10px;
  text-align: center;
}
#homepage-bottom .widget.no-bg {
  padding: 0;
  width: 47.5%;
}
#header-social i {
  font-size: 15px;
}
.global-nav .nav-right ul#header-social li a {
  padding: 5px 2px;
}
#site-header a.logo {
  min-width: 360px;
  width: 33%;
  display: block;
  float: left;
}
#site-header a img {
  width: 100%;
  max-width: 400px;
  height: auto;
}
#site-header .leaderboard {
  width:728px;
  height:90px;
  margin:auto;
  display:block;
  float:right;
  margin-top:37px;
  clear:right;
}

/* Fix 1px bump in height when using smaller font for navbar */
.nav>li.home-link>a,
.nav>li>a {
  min-height: 40px;
  display: inline-block;
  float: none;
  padding: 0 10px;
  color: #fff;
  text-decoration: none;
}
.nav>li.home-link {
  height: 40px;
}
.nav>li.home-link>a {
  padding: 0 5px 0 10px;
}
.navbar .container {
  position: relative;
}
.navbar .btn-navbar {
  margin: 6px 10px 0 0;
}

@media (max-width: 1270px) {
  .global-nav .nav-right ul#header-social a > .icon-youtube,
  .global-nav .nav-right ul#header-social a > .icon-linkedin,
  .global-nav .nav-right ul#header-social a > .icon-gplus {
    display: none;
    padding: 0;
    margin: 0;
  }
}
@media (max-width: 1170px) {
  #site-header .leaderboard {
    display: none;
  }
  .global-nav .nav-right ul#header-social {
    display: none;
  }
}
@media (max-width: 1070px) {
  .global-nav ul {
    display: none;
  }
  .nav-collapse .visible-phone {
    display: block !important;
  }
  .nav.hidden-phone{
    display: none !important;
  }
  .nav .visible-phone{
    display: inherit !important;
  }
}
@media (max-width: 980px) {
  #homepage-bottom .widget.no-bg {
    width: 95%;
    padding-left: 2.5%;
    padding-right: 2.5%;
  }
}
